<launch>
    <!-- true: 自动开启 RViz-->
    <arg name="rviz" default="true" /> 

    <arg name="point_cloud_topic_name" default="lidar_point_cloud" />
    <arg name="frame_id" default="lidar" />
    <arg name="device_ip" default="169.254.164.40" />
    <arg name="port" default="2368" />
    <!-- 回访文件路径用于测试，连接激光雷达必须将此路径清空 -->
    <arg name="playback_file_path" default="" /> 
    <arg name="auto_start" default="true" />
    <arg name="save_bag" default="true" />
    <arg name="near_noise_dist" default="19200" />
    <arg name="near_noise_intensity" default="135" />
    <arg name="time_dif" default="150" />
    <arg name="high_pul" default="350" />
    <arg name="time_fly" default="20000" />
    <arg name="pulse_dif" default="120" />
    <arg name="gather_size" default="1920" />
    <!-- Enable or disable noise points removal -->
    <arg name="enable_remove_noise" default="false" />
    <!-- Set noise distance threshold in meter, larger number means less noise points -->
    <arg name="noise_distance_threshold" default="1.0" />
    <!-- Set noise squared area (0 ~ 1) for filtering out the wrong noise points, 
    larger number means more wrong noise points which are corrected, however, 
    larger number means more correct noise points which are not considered as noise points -->
    <arg name="noise_area_sq" default="0.5" />
    <!-- Set noise range in meter, only filter out noise point inside this range -->
    <arg name="noise_range" default="500.0" />
    <!-- The absolute path of the even galvanometer file, if empty, will load parameter from xml -->
    <arg name="galvanometer_file" default="/home/onet/lidar_ros/src/config/6#g_DA_Value_1.txt" />
    <!-- max frame rate, default keep less 10 in most case -->
    <arg name="frame_rate" default="3" />
    <node pkg="lidar_ros_driver" type="lidar_ros_driver" name="onet_lidar_ros_driver" output="screen" cwd="node" respawn="false">
        <param name="point_cloud_topic_name" type="string" value="$(arg point_cloud_topic_name)" />
        <param name="frame_id" type="string" value="$(arg frame_id)" />
        <param name="device_ip" type="string" value="$(arg device_ip)" />
        <param name="port" type="int" value="$(arg port)" />
        <param name="playback_file_path" type="string" value="$(arg playback_file_path)" />
        <param name="auto_start" type="bool" value="$(arg auto_start)" />
        <param name="save_bag" type="bool" value="$(arg save_bag)" />
        <param name="near_noise_dist" type="int" value="$(arg near_noise_dist)" />
        <param name="near_noise_intensity" type="int" value="$(arg near_noise_intensity)" />
        <param name="time_dif" type="int" value="$(arg time_dif)" />
        <param name="high_pul" type="int" value="$(arg high_pul)" />
        <param name="time_fly" type="int" value="$(arg time_fly)" />
        <param name="pulse_dif" type="int" value="$(arg pulse_dif)" />
        <param name="gather_size" type="int" value="$(arg gather_size)" />
        <param name="enable_remove_noise" type="bool" value="$(arg enable_remove_noise)" />
        <param name="noise_distance_threshold" type="double" value="$(arg noise_distance_threshold)" />
        <param name="noise_area_sq" type="double" value="$(arg noise_area_sq)" />
        <param name="noise_range" type="double" value="$(arg noise_range)" />
        <param name="galvanometer_file" type="string" value="$(arg galvanometer_file)" />
        <param name="frame_rate" type="int" value="$(arg frame_rate)" />
    </node>

    <group if="$(arg rviz)">
    <node launch-prefix="nice" pkg="rviz" type="rviz" name="rviz" args="-d $(find lidar_ros_driver)/config/onet_lidar.rviz" />
    </group>
</launch>
